
<main>
<section>
  <h2>The Title</h2>
  <p>Some Text goes here, some text goes here, some text goes here, some text goes here.</p>
  <a href="#" class="info-link">Learn more...</a>
</section>
<section>
  <h2>The Title</h2>
  <p>Some Text goest goes here, some text goes here.</p>
  <img class="section-img" src="https://emojipedia-us.s3.amazonaws.com/thumbs/120/emoji-one/104/chart-with-upwards-trend_1f4c8.png" alt="important graph">
  <a href="#" class="info-link">Learn more...</a>
</section>
<section>
  <h2>The Title</h2>
  <img class="section-img profile" src="http://placekitten.com/260/260" />
  <p>Soext goes here, some text goes here, some text goes here.</p>
  <a href="#" class="info-link">Learn more...</a>
</section>
<section class="bigbottom">
  <h2>The Title</h2>
  <p>Some Text goes here, some text goes here, some text goes here, some text goes here.</p>
  <a class="bigbottom-link info-link" href="#" class="info-link">Learn more...</a>
</section>
<section class="bigtitle">
  <h2 class="bigtitle-title">The Title</h2>
  <p>Some Text goes here, some text goes here, some text goes here, some text goes here.</p>
  <a href="#" class="info-link">Learn more...</a>
</section>
<section>
  <h2>The Title</h2>
  <p>Some Text goes here, some text goes here, some text goes here, some text goes here.</p>
  <a href="#" class="info-link">Learn more...</a>
</section>
</main>